@media (max-width: 900px) {
    body{
        position: relative;
    }

    h3{
        font-size: 1.5em;
    }

    h1{
        font-size: 3.7em;
    }
    
    h2{
        font-size: 2.2em;
    }

    #portada1 div{
        flex-direction: column;
        align-items: center;
        padding: 1.5em 0;
    }

    #portada1 div div h2:nth-child(1){
        padding-bottom: 3%;
    }

    #portada1 div div{
        align-items: center;
        padding-left: 0;
    }

    #portada1 div div h2:nth-child(1){
        text-align: center;
    }

    #portada1 div img{
        width: 300px;
    }

   #menu {
        position: fixed;
        display: block;
        fill: #FFFBFF;
        left: 7%;
        top: 55px;
        width: 25px;
        pointer-events: none;
        z-index: 100;
        transition: all 0.5s ease;
        transform: translate(-50%, -50%);
    }

    #toggle {
        display: block;
        cursor: pointer;
        padding: 25px;
        position: fixed;
        z-index: 99;
        left: 7%;
        top: 55px;
        background-color: #071013;
        border-radius: 20%;
        transition: all 0.5s ease;
        transform: translate(-50%, -50%);
      }

    #inputmenu:checked ~ nav {
        transform: translate(0%);
    }

    #inputmenu:checked ~ #toggle {
        left: 37%;
    }

    #inputmenu:checked ~ #menu {
        left: 35%;
        transform: rotate(90deg);
    }


    nav{
        display: flex;
        z-index: 90;
        gap: 30px;
        transform: translate(-100%);
        height: 100vh;
        width: 30%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #071013;
        align-items: flex-start;
        padding: 100px 5%;
        flex-direction: column;
        transition: all 0.5s ease;
    }


    nav #casita {
        position: absolute;
        transform: translate(50%, 0%);
        fill: #FFFBFF;
        left: 5%;
        top: 50px;
        width: 25px;
        z-index: 10;
    }

    nav div h4 {
        transform: translateX(0%);
    }

    nav div {
        max-width: 300px; /* Suficientemente grande para acomodar el contenido */
        gap: 10px;
    }

    body .contenidogrid:first-of-type{
        padding-top: 80px;
    }

    nav #redes{
        margin-left: 0px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    
    
    #indice {
        aspect-ratio: 6 / 8;
        width: min(95vw, 600px);
        gap: 3vw;
        height: auto;
        margin: 0 auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    #amarillo{
        grid-column: 2 / 4;
        grid-row: 2 / 4;
    }
    
    #rojo{
        grid-column: 4 / 6;
        grid-row: 2 / 4;
    }
    
    #naranja{
        grid-column: 2 / 4;
        grid-row: 4 / 6;
    }
    
    #azul{
        grid-column: 4 / 6;
        grid-row: 4 / 6;
    }
    
    #blanco{
        grid-column: 2 / 4;
        grid-row: 6 / 8;
    }
    
    #verde{
        grid-column: 4 / 6;
        grid-row: 6 / 8;
    }

    /* PARA QUE SE AGRANDEN CAUNDO HACER HOVER */
    #indice:has(#amarillo:active) #amarillo,
    #indice:has(#rojo:active) #rojo,
    #indice:has(#naranja:active) #naranja,
    #indice:has(#azul:active) #azul,
    #indice:has(#blanco:active) #blanco,
    #indice:has(#verde:active) #verde {
    transform: scale(200%);
    z-index: 10; 
    }

    #indice:has(#amarillo:hover) #amarillo h3,
    #indice:has(#rojo:hover) #rojo h3,
    #indice:has(#naranja:hover) #naranja h3,
    #indice:has(#azul:hover) #azul h3,
    #indice:has(#blanco:hover) #blanco h3,
    #indice:has(#verde:hover) #verde h3 {
    left: 5%;
    top: 5%;
    }

    /* AMARILLO */
    #indice:has(#amarillo:hover) #rojo,
    #indice:has(#amarillo:hover) #azul {
        transform: translate(50%, 0%); 
    }
    #indice:has(#amarillo:hover) #naranja,
    #indice:has(#amarillo:hover) #blanco {
        transform: translate(0%, 50%); 
    }

    /* ROJO */
    #indice:has(#rojo:hover) #amarillo,
    #indice:has(#rojo:hover) #naranja {
        transform: translate(-50%, 0%); 
    }
    #indice:has(#rojo:hover) #azul,
    #indice:has(#rojo:hover) #verde {
        transform: translate(0%, 50%); 
    }
    #indice:has(#rojo:hover) #blanco {
        transform: translate(0%, 0%); 
    }

    /* NARANJA */
    #indice:has(#naranja:hover) #amarillo {
        transform: translate(0%, -50%); 
    }
    #indice:has(#naranja:hover) #blanco {
        transform: translate(0%, 50%); 
    }
    #indice:has(#naranja:hover) #azul {
        transform: translate(50%, 0%);
    }
    #indice:has(#naranja:hover) #rojo {
        transform: translate(50%, -50%); 
    }
    #indice:has(#naranja:hover) #verde {
        transform: translate(50%, 50%);
    }

    /* AZUL */
    #indice:has(#azul:hover) #amarillo {
        transform: translate(-50%, -50%); 
    }
    #indice:has(#azul:hover) #blanco {
        transform: translate(-50%, 50%); 
    }
    #indice:has(#azul:hover) #naranja {
        transform: translate(-50%, 0%);
    }
    #indice:has(#azul:hover) #rojo {
        transform: translate(0%, -50%); 
    }
    #indice:has(#azul:hover) #verde {
        transform: translate(0%, 50%);
    }

        /* BLANCO */
    #indice:has(#blanco:hover) #verde,
    #indice:has(#blanco:hover) #azul {
        transform: translate(50%, 0%); 
    }
    #indice:has(#blanco:hover) #naranja,
    #indice:has(#blanco:hover) #amarillo {
        transform: translate(0%, -50%); 
    }
    #indice:has(#blanco:hover) #rojo {
        transform: translate(0%, 0%); 
    }

        /* VERDE */
    #indice:has(#verde:hover) #blanco,
    #indice:has(#verde:hover) #naranja {
        transform: translate(-50%, 0%); 
    }
    #indice:has(#verde:hover) #rojo,
    #indice:has(#verde:hover) #azul {
        transform: translate(0%, -50%); 
    }
    #indice:has(#verde:hover) #amarillo {
        transform: translate(0%, 0%); 
    }

    body .contenidogrid{
        width: 90%;
        gap: 1.5em;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 100px;
    }

    .contenidogrid div{
        border-radius: 1.5em;
    }

   .contenidogrid .principal1{
        grid-column: span 3;
        grid-row: span 2;
    }
    
    .contenidogrid .principal2{
        grid-column: span 3;
        grid-row: span 2;
    }
    
    .contenidogrid .paleta1{
        grid-column: span 3;
        grid-row: span 1;
    }
    
    .contenidogrid .paleta2{
        grid-column: span 3;
        grid-row: span 1;
    }
    
    .contenidogrid .paleta3{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .contenidogrid  .paleta4{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .contenidogrid  .paleta5{
        grid-column: span 2;
        grid-row: span 1;
    }
    
    .contenidogrid .largo1{
        background-size: 70%;
        grid-column: span 6;
        grid-row: span 2;
    }
    
    .contenidogrid .medio1{
        grid-column: span 6;
        grid-row: span 3;
    }
    
    .contenidogrid .medio2{
        grid-column: span 6;
        grid-row: span 3;
    }
    
    .contenidogrid .medio3{
        grid-column: span 6;
        grid-row: span 3;
    }
    
    .contenidogrid .medio4{
        grid-column: span 6;
        grid-row: span 3;
    }
    
    .contenidogrid .largo2{
        grid-column: span 6;
        grid-row: span 2;
    }
    
    .contenidogrid .grande{
        grid-column: span 6;
        grid-row: span 4;
    }

    .contenidogrid .aclaracion{
        grid-column: span 6;
    }


    

}