@media (max-width: 500px) {
    
    h3{
        font-size: 1.2em;
    }

    h1{
        font-size: 3.4em;
    }
    
    h2{
        font-size: 1.9em;
    }

    #portada1 span{
        min-width: 70px;
    }

    #portada1 div img{
        width: 250px;
    }

    #indice:has(#amarillo:hover) #amarillo h3,
    #indice:has(#rojo:hover) #rojo h3,
    #indice:has(#naranja:hover) #naranja h3,
    #indice:has(#azul:hover) #azul h3,
    #indice:has(#blanco:hover) #blanco h3,
    #indice:has(#verde:hover) #verde h3 {
    left: -3%;
    top: 1%;
}

body .contenidogrid{
    width: 95%;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 70px;
}

.contenidogrid div{
    border-radius: 1em;
}

.contenidogrid .principal1{
    grid-column: span 4;
    grid-row: span 3;
}

.contenidogrid .principal2{
    grid-column: span 4;
    grid-row: span 3;
}

.contenidogrid .paleta1{
    grid-column: span 2;
    grid-row: span 1;
}

.contenidogrid .paleta2{
    grid-column: span 2;
    grid-row: span 1;
}

.contenidogrid .paleta3{
    grid-column: span 2;
    grid-row: span 1;
}

.contenidogrid .paleta4{
    grid-column: span 1;
    grid-row: span 1;
}

.contenidogrid .paleta5{
    grid-column: span 1;
    grid-row: span 1;
}

.contenidogrid .largo1{
    grid-column: span 4;
    grid-row: span 2;
}

.contenidogrid .medio1{
    grid-column: span 4;
    grid-row: span 3;
}

.contenidogrid .medio2{
    grid-column: span 4;
    grid-row: span 3;
}

.contenidogrid .medio3{
    grid-column: span 4;
    grid-row: span 3;
}

.contenidogrid .medio4{
    grid-column: span 4;
    grid-row: span 3;
}

.contenidogrid .largo2{
    grid-column: span 4;
    grid-row: span 2;
}

.contenidogrid .grande{
    grid-column: span 4;
    grid-row: span 4;
}

}